.icon {
  height: 50px;
  width: 50px;
}
.title {
  color: white;
}
.skills-card {
  border-radius: 0.65rem;
  border: 1.5px solid #9fcaff;
  padding: 2.5rem;
  text-align: center;
  background-color: #5eb0ee;
  backdrop-filter: blur(1rem);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 5px cyan, -1px -1px 5px cyan, -1px 1px 5px cyan,
    1px -1px 5px cyan;
}
.skills-card:hover,
.skills-card.active {
  background: linear-gradient(180deg, #6784f8 0%, #5d55f1 100%);
}

.skills-card span {
  font-size: 1.3rem;
  font-weight: 500;
}

.skills-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #101949;
  border-radius: 0.6rem;
  border: 1.5px solid #5254ba;
  position: absolute;
  top: -1rem;
  left: -1rem;
  box-shadow: 1px 1px 5px cyan, -1px -1px 5px cyan, -1px 1px 5px cyan,
    1px -1px 5px cyan;
}

.skill-icon img {
  width: 2.2rem;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1025px) {
  .skills-card {
    padding: 50px 10px 50px 10px;
    /* margin-left: 20px; */
  }
  .skills-card span {
    font-size: 1rem;
  }
  .skills-icon {
    width: 3rem;
    height: 3rem;
  }
  .skills-icon img {
    width: 2rem;
  }
}
@media (max-width: 768px) {
  .skills-card span {
    font-size: 0.9rem;
    gap: 1.5rem;
  }
  .skill-icon {
    width: 3rem;
    height: 3rem;
  }
  .skills {
    padding: 0 24px 0 24px;
  }
}
/* @media (max-width: 600px) {
  .skills-icon {
    width: 0.7rem;
    height: 0.7rem;
  }
} */
